*{
	padding:0;
	margin:0;
}
body{
	color:white;
	font-family:'Raleway', sans-serif;
	
}
.first{
	background-image:url('bg-curvy-desktop.svg');
	background-repeat:no-repeat;
	background-position:bottom;
}
header, .first, .fourth{
	background-color:hsl(217, 28%, 15%);
}
.lists, .second, .third{
	background-color:hsl(218, 28%, 13%);
}
footer{
	background-color:hsl(216, 53%, 9%);
}
.box{
	background-color:hsl(219, 30%, 18%);
}
.logo{
	float:left;
}
.menu{
	float:right;
	display:flex;
}
.menu li{
	list-style-type:none;
	margin-right:20px;
}
.menu li:hover{
	font-weight:bold;
	cursor:pointer;
}
header{
	padding:50px;
}
.first{
	padding-top:100px;
	text-align:center;
}
.first img{
	margin-bottom:50px;
}
.container{
	width:600px;
	margin-left:auto;
	margin-right:auto;
}
.container h2{
	font-size:35px;
	line-height:40px;
	margin-bottom:30px;
}
.container p{
	font-size:20px;
	margin-bottom:30px;
}
.btn{
	padding:15px 80px;
	border-radius:25px;
	color:white;
	background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
	border:transparent;
}
.a{
	margin-bottom:200px;
}
.a:hover, .b:hover{
	cursor:pointer;
	background-image:linear-gradient(to right, hsl(176, 68%, 64%), hsl(176, 68%, 64%));
}
.lists{
	display:flex;
	padding-bottom:100px;
}
.left, .right{
	width:400px;
	margin-left:auto;
	margin-right:auto;
}
.list{
	width:400px;
	text-align:center;
}
.one, .three{
	margin-bottom:100px;
}
.list img{
	margin-bottom:20px;
}
.list h2{
	margin-bottom:15px;
}
.second{
	display:flex;
	padding:100px;
	position:relative;
}
.kiri img{
	margin-right:50px;
}
.kanan h2{
	width:300px;
	font-size:30px;
	line-height:40px;
	margin-bottom:20px;
}
.kanan p{
	margin-bottom:20px;
}
.kanan a{
	color:hsl(176, 68%, 64%);
}
.link a:hover{
	color:white;
}
.kanan{
	position:relative;
	top:100px;
}
.link img:hover{
	background-color: white;
	-webkit-mask: url(icon-arrow.svg) no-repeat center;
	mask: url(icon-arrow.svg) no-repeat center;
}
.quote img{
	position:relative;
	top:70px;
	left:50px;
	z-index:0;
}
.thirdd{
	display:flex;
	padding:50px;
	padding-bottom:300px;
	position:relative;
}
.box{
	width:33%;
	margin-right:20px;
	padding:30px;
	border-radius:10px;
}
.samping{
	margin-right:0px;
}
.box p{
	font-size:18px;
	margin-bottom:20px;
}
.boxi{
	display:flex;
}
.boxi img{
	border-radius:50%;
	width:25%;
	margin-right:20px;
}
.small{
	position:relative;
	top:20px;
}
.small h2{
	margin-bottom:10px;
}
.fourth{
	text-align:center;
	padding:30px;
	width:700px;
	height:200px;
	border-radius:10px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:-100px;
}
.fourth h2, .fourth p{
	margin-bottom:20px;
}
.b:hover span{
	visibility:visible;
	color:red;
	display:block;
}
.email{
	background-color:white;
	color:hsl(0, 0%, 70%);
	padding:10px 100px;
	border-radius:30px;
	margin-right:30px;
}
footer{
	padding:0px 50px 50px 50px;
}
.bottom-logo{
	margin-bottom:50px;
}
footer li{
	list-style-type:none;
}
.footerr, .footleft, .footmiddle, .footright{
	display:flex;
}
.leftfoot{
	width:350px;
	line-height:25px;
	margin-right:50px;
}
.rightfoot, .footmiddle{
	line-height:35px;
}
.footleft, .footmiddle{
	margin-right:100px;
}
.middleleft{
	margin-right:50px;
}
.footmiddle li:hover{
	font-weight:bold;
	cursor:pointer;
}
.footright li{
	margin-right:25px;
}
i.fab{
	border-radius:50%;
	padding:10px;
	font-size:0.8em;
	width:0.8em;
	line-height:0.8em;
	text-align:center;
}
.fab:hover{
	color:hsl(176, 68%, 64%);
	border:1px solid hsl(176, 68%, 64%);
	cursor:pointer;
}